<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<hr />

<nav th:replace="fragments :: main-nav"></nav>

<hr />

<!--TODO: change href once add-event template is created-->
<p th:unless="${events} and ${events.size()}">No events yet! <a href="/events/add-event">Add event?</a> </p>

<hr />

<nav th:replace="fragments :: event-nav"></nav>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Location</th>
    </tr>

    <tr th:each="event : ${events}">
        <td th:text="${event.title}"></td>
        <td th:text="${event.dateAndTime}"></td>
        <td th:text="${event.location.name}"></td>
    </tr>

</table>

<nav th:replace="fragments :: event-nav"></nav>

<hr />

<nav th:replace="fragments :: main-nav"></nav>

<hr />

</body>
</html>