<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<!--TODO: change href once add-location template is created-->
<p th:unless="${locations} and ${locations.size()}">No locations yet! <a href="/locations/add-location">Add location?</a> </p>

<table class="table">
    <tr>
        <th>Name</th>
    </tr>

    <tr th:each="location : ${locations}">
        <td th:text="${location.name}"></td>
    </tr>

</table>

<nav th:replace="fragments :: navigation"></nav>

</body>
</html>